<!DOCTYPE html>
<html lang='sv'>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
        <link href='/gallery/gallery.css' rel='stylesheet' type='text/css'>
        <script src='jquery-1.6.2.js' type='text/javascript'></script>
        <script src='/gallery/gallery.min.js' type='text/javascript'></script>
        <style type='text/css'>
            .gallery img {
                height: 100px;
            }
        </style>
        <script type='text/javascript'>
            $(function() {
                $('.gallery a').gallery({
                    title: true
                });
            });
        </script>
    </head>
    <body>
        <div class='gallery'>
            <a title='Car' href='/images/car.png'><img src='/images/car.png'></a>
            <a title='Flowers' href='/images/flowers.png'><img src='/images/flowers.png'></a>
            <a title='Sky' href='/images/sky.png'><img src='/images/sky.png'></a>
        </div>
    </body>
</html>
